*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../pictures/bglog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.header h1{
    /* margin-top: 0rem;
    margin-left: 40%; */
    font-family: 'Irish Grover', cursive;
    text-decoration: underline;
}
.container{
    padding-top: 2rem;
}
.container .row1{
    display: flex;
}
 .container img{
    /* border: solid #fff 1px; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
} 
.row1 img{
    width: 300px;
    height: 200px;
    /* margin: 30px; */
}
.container .row2{
    display: flex;
    margin-top: 2rem;
}
.row2 img{
    width: 300px;
    height: 200px;
    /* margin: 30px; */
}
.main{
    height: 100vh;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.pro{
 border: solid 1px rgb(138, 216, 233);
 border-radius: 12px;
 margin-right: 20px;
 padding: 0.5rem;
 background-color: rgba(47, 31, 29, 0.611); 
 box-shadow: rgba(5, 5, 5, 0.25) 0px 54px 55px, rgba(255, 251, 251, 0.12) 0px -12px 30px, rgba(235, 228, 228, 0.12) 0px 4px 6px, rgba(245, 241, 241, 0.17) 0px 12px 13px, rgba(247, 239, 239, 0.09) 0px -3px 5px;
}
#btn{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    background-color: burlywood; 
    float: right;
    transition: transform .3s ease-out;
    outline: none;
}
#btn:hover{
    transform: scale(1.1);
}
