*{
    padding: 0;
    margin: 0;
}
.main .hmain{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Irish Grover', cursive;
    text-decoration: underline;
}
body{
    background-image: url(../pictures/homebg.png);
    background-size: cover;
    color: #fff;
}
.left-nav{
    height: 115\vh;
    box-shadow: rgba(255, 255, 255, 0.523) 0px 0px 0px 1px;
}
.edd{
    /* border: 1px solid; */
    width: 100%;
}
.container{
    display: flex;
}
.top-nav{
    /* border: 1px solid; */
    padding: 2rem;
}
.main{
    padding: 2rem;
}
.top-nav ul{
    display: flex;    
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 5rem ;
}
.top-nav ul li{
    list-style-type: none;
    margin: 0 1rem;
}
.top-nav ul li a{
    text-decoration: none;
    color: #fff;
    border: 3px solid #F99909;
    background-color: #fffcb4;
    color: black;
    padding: 3px 10px;
    border-radius: 18px;
    font-size: 25px;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.headings{
    font-family: 'Inika';
    margin-top: 8rem;
    margin-left: 2rem;
}
.headings .htwo{
     margin-left: 3rem;
}
.headings .hthree{
    margin-left: 6rem;
}
.headings .desc{
    margin-top: 3rem;
}
p{
    opacity: 50%;
}
h3{
    margin-top: -5rem ;
}