 @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
 *{
    margin: 0;
    padding: 0;
 }
h1{
    font-family: 'Irish Grover', cursive;
    text-decoration: underline;
}
h3{
    font-family: 'Irish Grover', cursive;
    padding-top: 30px;
}
body{
    background-image: url(../pictures/bglog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     /* padding-top: 150px;  */
     height: 100vh;
     width: 100vw;
}
.container{
    color: #fff;
    place-items: center;
    display: flex; 
    justify-content: center; 
}
.input{
    background-color: #FCE87C;
    border-radius: 28px;
    padding: 5px 25px;
    margin: 10px 0;
    text-align: center;
    opacity: 71%;
}
.input::placeholder{
    color: black;
    font-weight: 200;
}
.login{
    background-color: #75F291;
    border-radius: 28px;
    padding: 3px 25px;
    text-align: center;
    opacity: 80%;
    margin: 10px 0;
}
.form a{
    color: #fff;
    text-align: right;
    text-decoration: underline;
}
.form{
    display: block;
    width: 300px;
}
.form form{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
}
.header-items{
    margin-left: 30px;
}
.header-items2{
   display: none;
   float: right;
}
.signup{
    background-color: #4d4d4d;
    border-radius: 28px;
    padding: 3px 15px;
    text-align: center;
    opacity: 80%;
    margin: 10px 0;
    border:4px solid #ffdb10;
    color: #fff;
    text-decoration: none;
}
.header-items language{
    border: none;
}
.imgs{
    justify-content: space-between;
    display: flex;
    padding: 0 60px;
    width: 80%;
    margin:5rem 10px;
}
.imgs img{
    width: 150px;
    height: 150px;
}
.imgs img:first-child{
    transform: rotate(-40.5deg);
}
.limg img{
    width: 150px;
    height: 150px;
}
.limg{
    padding-top: 90px;
}
.humberger{
    display: none;
    float: right;
    right: 30px;
    position: relative;
    top: 12px;

}
.show{
    display: block;
}
@media screen and (max-width: 768px){
    .header{
        display: block;
        align-items: center;
    }
    .imgs{
        display: none;
    }
    .humberger{
        display: inline-block;
        margin-top: 5rem;
    }
    body{
        background-size: cover;
        background-position: center;
    }
    .container{
        margin-top: 10rem;
        padding-top: 5rem;
    }
    .header-items{
        display: none;
    }
}